# Dependencias
node_modules

# Carpeta de build
dist

# Variables de entorno (no subir tus claves)
.env

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
# Ignorar carpetas de sistema de Windows
AppData/
Documents/
Cookies/
*.log
*.tmp
Thumbs.db
Desktop.ini
.vscode/
node_modules/
dist/
build/
